<!DOCTYPE html>
<html>
<head>
    <title>Un sitio web más</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Registrarse</h1>
     <form action="">
        <label for="">Ingrese su nombre</label>
        <input type="text">
        <label for="">Ingrese sus apellidos</label>
        <input type="text">
        <label for="">Ingrese su correo electronico</label>
        <input type="email">
        <label for="">Ingrese una contraseña</label>
        <input type="password">
        <label for="">Ingrese su fecha de nacimiento</label>
        <input type="date">
        <label for="country">Seleccione el país donde vive</label>
        <select name="country" id="country">
            <option value="" disabled selected>Choose a country / Seleccione un país</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="BS">Bahamas</option>
            <option value="BB">Barbados</option>
            <option value="BZ">Belize</option>
            <option value="BO">Bolivia</option>
            <option value="BR">Brasil</option>
            <option value="CA">Canada</option>
            <option value="CL">Chile</option>
            <option value="CO">Colombia</option>
            <option value="CR">Costa Rica</option>
            <option value="CU">Cuba</option>
            <option value="DM">Dominica</option>
            <option value="EC">Ecuador</option>
            <option value="SV">El Salvador</option>
            <option value="US">United States</option>
            <option value="GD">Grenada</option>
            <option value="GT">Guatemala</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haïti</option>
            <option value="HN">Honduras</option>
            <option value="JM">Jamaica</option>
            <option value="MX">México</option>
            <option value="NI">Nicaragua</option>
            <option value="PA">Panamá</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Perú</option>
            <option value="DO">República Dominicana</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="LC">Saint Lucia</option>
            <option value="SR">Suriname</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="UY">Uruguay</option>
            <option value="VE">Venezuela</option>
        </select>
        <button type="submit" id="button_enviar">Registrarse</button>
     </form>
</body>
</html>